/* @import "tailwindcss"; */
/* Login/Signup Form Styling Start */
.loginForm{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30vw;
}
.loginBtn{
  width: 100%;
  transition: all 0.5s;
}
.loginBtn:hover{
  transition: all 0.5s;
}
.signupForm{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30vw;
}
.signupBtn{
  width: 100%;
  transition: all 0.5s;
}
.signupBtn:hover{
  transition: all 0.5s;
}
/* Login/Signup Form Styling End */

@media(max-width:1200px){
  .loginForm{
    width: 50vw;
  }
  .signupForm{
    width: 50vw;
  }
}
@media(max-width:600px){
  .loginForm{
    width: 90vw;
  }
  .signupForm{
    width: 90vw;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
